/* General rules */

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #313131;
}

h2 {
  font-size: 20px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 8vw;
}

.logo {
  font-size: 18px;
}

.logo-icon {
  font-size: 12px;
  vertical-align: 2px;
}

.menu {
  font-size: 24px;
  color: #313131;
}

/* Homepage */

.hero {
  background: url(./images/main-big.jpg) 70% 0 no-repeat;
  background-size: cover;
  width: 100vw;
  height: 62vh;
}

.hero-text {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vh 10vw;
}

/* Medium Version */
@media (min-width: 768px) {
  /* Navbar */

  .navbar {
    padding: 3vh 4vw;
  }

  /* Homepage */
  .homepage {
    position: relative;
  }

  .hero {
    height: 92vh;
  }

  .hero-text {
    background: white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 35%;
    padding: 5vh 5vw;
  }

  .hero-text h2 {
    font-size: 24px;
  }

  .hero-text a {
    font-size: 18px;
  }
}