/* General rules */

.for-construction {
  display: none !important;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #313131;
  box-sizing: border-box;
}

h2 {
  font-size: 18px;
  line-height: 1.5;
}

a {
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  color: black;
}

.hidden {
  display: none;
}

.flex-column-mob {
  display: flex;
  flex-direction: column;
}

.flex-row-mob {
  display: flex;
  flex-direction: row;
}

.flex1-mob {
  flex: 1;
}

.fixed {
  position: fixed;
}

.font300 {
  font-weight: 300;
}

.selected {
  color: #b9b9b9;
}

.selected:hover {
  color: #b9b9b9;
}

.space-between {
  justify-content: space-between;
}

/* Header */
header {
  width: 100vw;
  position: relative;
  justify-content: space-between;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 8vw;
  background: white;
}

.logo {
  font-size: 14px;
}

.logo-icon {
  font-size: 8px;
  vertical-align: 2px;
}

#menu-icon {
  font-size: 18px;
  color: #313131;
}

/* Homepage */

.homepage {
  width: 100vw;
  height: 100vh;
}

.hero {
  background: url(./images/main-big.jpg) 70% 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 62vh;
  margin-top: 10vh;
}

.hero-complement {
  height: 100%;
}

.hero-text {
  justify-content: space-between;
  height: 100%;
  padding: 4vh 10vw;
}

/* Menu Page */
.menu-page {
  position: absolute;
  width: 100vw;
  height: 90vh;
  background: white;
  bottom: 100%;
  z-index: 2;
}

.menu-page:target {
  animation-name: move-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes move-down {
  100% {
    bottom: -90vh;
  }
}

.menu-page h4 {
  font-weight: 300;
  font-size: 12px;
}

.menu-page input {
  background: transparent;
  border: none;
  border-bottom: 2px black solid;
  width: 50vw;
}

.menu-page input:focus {
  outline: none;
}

.search {
  background: url(./images/menu2.jpg) 0 0 no-repeat;
  background-size: cover;
}

.opaque {
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  justify-content: center;
  padding: 0 5vw;
}

.menu-main {
  flex: 2;
  justify-content: center;
  position: relative;
  background: #f5f5f5;
  margin: 3px 0;
}

.menu-nav-wrapper {
  width: 100%;
  justify-content: space-around;
}

.menu-nav-wrapper h3 {
  padding-bottom: 4vh;
}

.menu-nav-wrapper a {
  padding-bottom: 2vh;
}

.close-menu {
  position: absolute;
  top: 2vh;
  right: 4vw;
}

.newsletter {
  background: url(./images/menu1.jpg) 0 0 no-repeat, white;
  background-size: contain;
}

.newsletter .opaque {
  padding: 0 0 0 46vw;
}

/* Categories */

.category-selector {
  margin-top: 10vh;
}

.category-selector a {
  margin-left: 5vw;
}

.product {
  height: 55vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3px;
  padding: 5vh 10vw;
  font-size: 14px;
}

#product1 {
  background: url(./images/product1-1.png) center no-repeat;
  background-size: 50%;
  background-color: #f5f5f5;
}

#product2 {
  background: url(./images/product2-1.png) center no-repeat;
  background-size: 75%;
  background-color: #f5f5f5;
}

#product3 {
  background: url(./images/product3-1.png) center no-repeat;
  background-size: 60%;
  background-color: #f5f5f5;
}

/* Tablet Version */
@media (min-width: 768px) {
  /* General */

  h2,
  h3 {
    font-size: 24px;
  }

  a {
    font-size: 18px;
  }

  .flex-column-tab {
    display: flex;
    flex-direction: column;
  }

  .flex-row-tab {
    display: flex;
    flex-direction: row;
  }

  .flex1-tab {
    flex: 1;
  }

  .flex-wrap-tab {
    flex-wrap: wrap;
  }

  .main-viewport {
    position: relative;
  }

  /* Navbar */

  header {
    z-index: 1;
  }

  .navbar {
    padding: 3vh 6vw;
  }

  .logo {
    font-size: 18px;
  }

  .logo-icon {
    font-size: 12px;
    vertical-align: 2px;
  }

  #menu-icon {
    font-size: 24px;
    color: #313131;
  }

  /* Homepage */
  .hero {
    height: 100%;
  }

  .hero-text {
    background: white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 35%;
    padding: 5vh 5vw;
  }

  /* Menu */
  .menu-page h4 {
    font-size: 18px;
  }

  .newsletter .opaque {
    padding: 0 0 0 40vw;
  }

  .close-menu {
    position: absolute;
    top: 3vh;
    right: 5.5vw;
    font-size: 24px;
  }

  /* Categories */
  .product {
    height: 43vh;
    width: 49vw;
    padding: 5vh 5vw;
    font-size: 18px;
  }

  .product h3 {
    font-size: 18px;
  }

  #product1 {
    background: url(./images/product1-1.png) center no-repeat;
    background-size: 50%;
    background-color: #f5f5f5;
    margin: 0 4px;
  }

  #product2 {
    background: url(./images/product2-1.png) center no-repeat;
    background-size: 75%;
    background-color: #f5f5f5;
  }

  #product3 {
    background: url(./images/product3-1.png) center no-repeat;
    background-size: 60%;
    background-color: #f5f5f5;
    margin-left: 4px;
  }
}

/* Desktop Version */

@media (min-width: 1024px) {
  /* General */

  h2 {
    font-size: 18px;
    line-height: 1.5;
  }

  a {
    font-size: 12px;
    text-decoration: none;
  }

  .hidden {
    display: block;
  }

  .flex-column-desk {
    display: flex;
    flex-direction: column;
  }

  .flex-row-desk {
    display: flex;
    flex-direction: row;
  }

  .flex1-desk {
    flex: 1;
  }

  /* Navbar */
  header {
    width: 15vw;
  }

  .navbar {
    width: 15vw;
    height: 100vh;
    justify-content: space-between;
    align-items: start;
    padding: 5vh 4vw 5vh 2vw;
  }

  .logo {
    font-size: 14px;
  }

  .logo-icon {
    font-size: 8px;
  }

  .menu {
    line-height: 20px;
  }

  #menu-icon {
    font-size: 18px;
    display: flex;
    flex-direction: row;
  }

  #menu-icon span {
    margin-left: 5px;
  }

  .categories {
    justify-content: center;
  }

  .social {
    justify-content: flex-end;
  }

  .padding-bottom-6 {
    padding-bottom: 6vh;
  }

  .padding-bottom-3 {
    padding-bottom: 3vh;
  }

  /* Homepage */
  .main-viewport {
    position: relative;
  }

  .homepage {
    width: 75vw;
    height: 100vh;
    margin-left: 15vw;
  }

  .hero {
    margin-top: 0;
    margin-right: 3px;
    height: 100vh;
    flex: 1;
  }

  .hero-complement {
    position: static;
    flex: 1;
  }

  .hero-small {
    background: url(./images/main-small.jpg) 0 0 no-repeat;
    background-size: contain;
    height: 50vh;
  }

  .hero-text {
    position: static;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 10vh 5vw;
  }

  /* Right bar */

  .right-bar {
    width: 10vw;
    height: 100vh;
    align-items: flex-end;
    padding: 3.5vh 2vw;
    right: 0;
  }

  .right-bar i {
    font-size: 18px;
    margin-right: 2px;
    margin-top: 5vh;
  }

  .cart {
    line-height: 27px;
    font-size: 12px;
  }

  .cart-counter {
    display: inline-block;
    background: #313131;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-left: 5px;
  }

  /* Menu */
  .menu-page {
    width: 75vw;
    height: 100vh;
    right: 100%;
    bottom: 0;
  }

  .menu-page:target {
    animation-name: move-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes move-left {
    100% {
      right: -75vw;
    }
  }

  .menu-page h3 {
    font-size: 18px;
  }

  .menu-page h4 {
    font-weight: 700;
    font-size: 12px;
  }

  .menu-main {
    padding: 0 10vw;
  }

  .opaque {
    padding: 0;
    padding-left: 5vw;
    margin-right: 3px;
    background: #f5f5f5;
  }

  .search {
    background: none;
  }

  .search-desk-img {
    background: url(./images/menu2.jpg) 100% 10% no-repeat;
    background-size: 160%;
    width: 100%;
  }

  .menu-page input {
    width: 30vw;
  }

  .newsletter {
    background: #f5f5f5;
  }

  .newsletter-desk-img {
    background: url(./images/menu1.jpg) 0 0 no-repeat, white;
    background-size: contain;
  }

  .newsletter .opaque {
    padding: 0 5vw;
  }
}
